/* Google Fonts Import Template Merriweather & ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

/*Alternatieven voor fonts:
-
-
-
-
-
-
*/


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Helper Classes
    4. Media Defaults
    5. Layout
    6. Areas
        6.1 Header
        6.2 Introduction
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
/* Variabelen, Basale resets en standaard browserinstellingen */

:root {
    /* CSS HEX */
    --chrysler-blue: #5722cdff;
    --majorelle-blue: #4b49e8ff;
    --magnolia: #f2f0ffff;
    --french-rose: #ed4385ff;
    --night: #0c0c0cff;
    --antiflash-white: #f3f6f9ff;
    --gray: #7a7a7aff;

    /* CSS HSL */
    --text2-color: hsla(259, 72%, 47%, 1);
    --main-color: hsla(241, 78%, 60%, 1);
    --alt-color: hsla(248, 100%, 97%, 1);
    --alt-color-trans: hsla(248, 100%, 97%, 0);
    --button-bg-color: hsla(337, 83%, 60%, 1);
    --text-color: hsla(0, 0%, 5%, 1);
    --project-bgcolor: hsla(210, 33%, 96%, 1);
    --tile-color: hsla(0, 0%, 48%, 1);

    --scol: rgba(0, 0, 0, 0.15);
    --altscol: hsla(210, 33%, 96%, 0.6);

    --f1: 'Roboto', sans-serif;
    --f2: 'Merriweather', serif;
}


/* 1. Box-sizing reset */
/* Ensure that the total width and height of an element includes padding and border */
* {
    box-sizing: border-box;
}

/* 2. Remove default margin */
/* Prevent default spacing around elements */
* {
    margin: 0;
    padding: 0;
}


/* ------------------------------- 2. Typography ----------------------------------- */
/* Regels die specifiek gericht zijn op typografie, zoals line-height */
/*O1: OPTIONEEL en afhankelijk van gekozen FONTS:
!* Font-families *!*/
html {
    font-family: var(--f1);
    background-color: var(--alt-color);
}

h1, h2, h3 {
    font-family: var(--f2);
}


/* 3. Text rendering improvement */
/* Enhance text appearance on supported browsers */
body {
    -webkit-font-smoothing: antialiased; /* For Webkit browsers */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
    /* Referentie: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth */
}

/* 4. Line height reset */
/* Set a base line-height to ensure text accessibility */
body * {
    line-height: calc(2px + 2ex + 2px);

}


/* LET OP: Dit kan conflicteren met bestaande typografische stijlen.
Het gebruik van een complexe berekening voor line-height kan visuele inconsistenties veroorzaken,
vooral bij gebruik in combinatie met frameworks of bibliotheken die vaste line-height-waarden gebruiken.
Referentie: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height */

/* ------------------------------- 3. Helper Classes -------------------------------- */
/* Klassen zoals .hidden en .visually-hidden */

/* 5. Hide visually and from screen readers */
/* Fully hides elements both visually and for assistive technologies */
.hidden,
[hidden] {
    display: none !important;
}

/* 6. Hide only visually, but keep accessible for screen readers */
/* Keeps elements accessible for screen readers while visually hidden */
.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Referentie: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */

/* 7. Focusable visually-hidden elements */
/* Makes visually hidden elements visible when focused */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/* Referentie: https://www.drupal.org/node/897638 */

/* 8. Maintain layout while hiding elements */
/* Hides elements visually but preserves layout spacing */
.invisible {
    visibility: hidden;
}

/* ------------------------------- 4. Media Defaults -------------------------------- */
/* Resets voor media-elementen zoals afbeeldingen en video's */

/* 9. Media defaults */
/* Prevent inline spacing issues and make media elements block-level */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* LET OP: While this is useful to prevent media elements from overflowing their containers, it can cause issues for specific use cases. For instance:
   - When using media elements in inline contexts like navigation bars, additional styling is required to align them properly.
   - If a media element needs to exceed its container dimensions, as in the case of an oversized image, you need to reset the max-width property using `max-width: revert;` on that specific element.
   Referentie: https://www.joshwcomeau.com/css/custom-css-reset/#five-improve-media-defaults-6 */

/* ------------------------------- 5. Layout ---------------------------------------- */
/* Regels of resets die te maken hebben met containergedrag en positioning */
/* Zet hier ook Basisregels voor grids (indien van toepassing).  */

/* OPTIONAL WITHOUT FLEXBOX:
O2. Vertical alignment for media elements */
/* Aligns media elements within their containers */
/* audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}
LET OP: Deze reset is uitgeschakeld, want kan een conflict veroorzaken in gevallen waar media-elementen met flexbox of grid worden uitgelijnd,
omdat vertical-align voornamelijk werkt in inline- en tabelcontexten.
Referentie: https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align */

/* O3. Clearfix */
/* .clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
} */
/* LET OP: Deze reset is uitgeschakeld, want Novi raadt aan om float niet meer te gebruiken.
Moderne alternatieven zoals Flexbox en Grid maken clearfix overbodig.
Referentie: https://developer.mozilla.org/en-US/docs/Web/CSS/float */

/* ------------------------------- 6. Areas ----------------------------------------- */
/* Specifieke resetregels of basestijlen voor unieke secties zoals Header en Footer */
/* Vul zelf verder aan met structuurelementen van de site  */

image {
    max-width: 20%;
}

/* --------------- 6.1 Header ------------------------- */
/* Voeg hier resetregels of basestijlen toe specifiek voor de header. */


.inner-content-container {

    margin: 0 auto;
    padding: 0 1rem; /* Ruimte aan de zijkanten voor kleinere schermen */
}

.outer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;

}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;

}

.inner-content-container {
    display: flex;
    flex-flow: row;
    justify-content: end;
    width: 100%;

}

.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
}

.navi ul {
    display: flex;
    flex: 1 0 auto;
    justify-content: end;
    gap: 20px;
    list-style-type: none;
}

.navi ul li a {
    text-decoration: none;
    color: var(--alt-color);
    font-weight: 400;
}

#header {
    position: relative;
    background: linear-gradient(121deg, #4B49E8 0%, #5722CD 100%);
    padding: 50px 0;
    color: white;
}

#header::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Zorgt dat het pseudo-element over de main valt */
    left: 0;
    width: 100%;
    height: 3rem;
    background: var(--alt-color);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 65%);
    z-index: 1;
}


main {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 50%);
    margin-top: -30px; /* Laat de main over de pseudo-lijn van de header vallen */
    padding-top: 50px;
    position: relative;
    z-index: 0;
}

main-content-wrapper {
    display: flex;
    flex-flow: column;
    max-width: clamp(320px, 80%, 1200px);
    justify-content: center;

}


.title-container {
    text-align: center;
    padding: 20px 0;
}

.title-container > h1 {
    padding: 1rem;
}

/* --------------- 6.2 Introduction ------------------- */
/* Voeg hier resetregels of basestijlen toe specifiek voor de introductiesectie. */

.hello {
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-bottom: 3rem;
}

.info-banner {
    text-align: center;
    font-family: var(--f2);
    font-weight: 700;
    color: var(--text2-color);
    margin-bottom: 1.5rem;
}

.info-banner h5 {
    margin: 0 0 1rem; /* Voegt ruimte toe tussen paragrafen */
    line-height: 1.5; /* Stelt de hoogte van de lijnen in */
}

.btn-wrapper {
    padding: 1rem;
}

.work-button {
    text-align: center;
    vertical-align: middle;
    padding: 12px 20px;
    border-radius: 45px;
    background: var(--button-bg-color);
    box-shadow: 20px 20px 60px var(--scol);
    font: 400 normal 13px var(--f1);
    color: var(--alt-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 0px solid;
}

.work-button:hover {
    background: linear-gradient(
            45deg,
            var(--french-rose),
            var(--text2-color)
    ); /* Duidelijk onderscheidende kleuren */
    color: var(--magnolia);
    text-shadow: 1px 1px 2px var(--scol);
    box-shadow: 0.5px 1px 1px var(--altscol);
    transform: translateY(-2px); /* Lichte lift */
    border: 1px solid var(--alt-color); /* Highlight rand */
    cursor: pointer;
}

.work-button:active {
    background: linear-gradient(to bottom, var(--french-rose), var(--main-color));
    color: var(--antiflash-white);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ingesprongen schaduw */
    transform: translateY(0); /* Geen lift bij klikken */
    opacity: 0.9; /* Subtiele visuele feedback */
}

.nodeco {
    text-decoration: none;
    color: var(--text2-color)
}


/* --------------- 6.3 main-content ------------------- */
.projects-section {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Ruimte tussen projecten */
    padding: 2rem;
    background-color: var(--alt-color);
}


.projects-section {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Ruimte tussen projecten */
    padding: 2rem;
    background-color: var(--alt-color);
}

.project {
    display: flex;
    flex-direction: row-reverse; /* Standaard layout: afbeelding en tekst naast elkaar */
    gap: 1rem;
    align-items: center;
    background-color: var(--antiflash-white);
    padding: 1rem;
    border: 1px solid var(--scol);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order2 {
    flex-direction: row; /* Keert de volgorde om: afbeelding rechts */
}

.project img {
    width: 40%; /* Pas aan voor gewenste breedte */
    height: auto;
    border-radius: 8px;
}

.project-content {
    flex: 1; /* Tekst vult resterende ruimte */
}

.project-content h3 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.5;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat items naar de volgende rij gaan */
    justify-content: center; /* Center alle blokken horizontaal */
    gap: 2rem; /* Ruimte tussen de blokken */
    margin: 10%;
}

.serviceblock {
    flex: 1 1 calc(100% / 3 - 2rem); /* 3 kolommen, ruimte aftrekken voor de gap */
    display: flex;
    flex-direction: column; /* Zorg dat tekst van boven begint */
    justify-content: flex-start; /* Logo's e.d. beginnen op dezelfde plek. */
    align-items: stretch; /* Hoogtes gelijk trekken */

    text-align: left;
    border-radius: 1%;
    padding: 1.5em;
    font-size: 0.8em;
    border: 1px solid var(--text2-color);
    overflow: hidden; /* Voorkomt dat content uit het blok loopt */
    min-height: 250px; /* Optioneel: minimale hoogte instellen */
}

.serviceblock special {
    min-height: 300px; /* Optioneel: minimale hoogte instellen */
}

.serviceblock .img-for-card {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.2em;
    padding-bottom: 1rem;

}

.serviceblock img {
    width: 40px;
    height: 40px;
}

.serviceblock h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--text2-color);
}

.serviceblock p {
    font-size: 0.8rem;
    color: var(--text-color);
    line-height: 1.2;
}

footer {
    display: flex;
    align-self: end;
}


/*    margin-top: 2rem;*/
/*}*/

/*#contact-form {*/
/*    display: flex;*/
/*}*/

.contactform {
    display: flex;
    flex-direction: column;
}

.form-outer-wrapper {
    display: flex;
    flex-direction: column;

}

.form-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form > * {
    display: flex;
    flex: 1 1 60%;
    flex-flow: column;
    /*justify-content: center;*/
}

/* --------------- 6. footer ------------------- */
footer {
    display: flex;
    align-self: end;
    background-color: var(--text-color);
    color: var(--alt-color);
    font-size: 12px;
    padding: 1em;
    justify-content: center;
}