/* Google Fonts Import Template Merriweather & ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@300;400;500;600;700&display=swap');

/*Alternatieven voor fonts:
-
-
-
-
-
-
*/


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Helper Classes
    4. Media Defaults
    5. Layout
    6. Areas
        6.1 Header
        6.2 Introduction
////////////////////////*/

/*Zie resetstyles.css voor implementatie reset regels aangeduid met nummering.*/
/* ------------------------------- 1. Global Styles -------------------------------- */
/* Variabelen, Basale resets en standaard browserinstellingen */
/*Zie variables.css voor toegepaste variabelen

/* 1. Box-sizing reset */
/* 2. Remove default margin */

/* 3. Text rendering improvement */
/* 4. Line height reset */

/* ------------------------------- 2. Typography ----------------------------------- */
/* Regels die specifiek gericht zijn op typografie, zoals line-height */

html {
    font-family: var(--f1);
    background-color: var(--project-bgcolor);
}

h1, h2, h3 {
    font-family: var(--f2);
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 0.5;

}

h5 {
    font-size: clamp(1.1rem, 5vw, 1.3rem);
}

p, pre {
    font-size: clamp(0.7rem, 2.5vw, 1.2rem);
    font-weight: 300;
    font-family: var(--f1)

}

/* ------------------------------- 3. Helper Classes -------------------------------- */
/* Klassen zoals .hidden en .visually-hidden */

/* 5. Hide visually and from screen readers */
/* 6. Hide only visually, but keep accessible for screen readers */
/* 7. Focusable visually-hidden elements */
/* 8. Maintain layout while hiding elements */


/* ------------------------------- 4. Media Defaults -------------------------------- */
/* Resets voor media-elementen zoals afbeeldingen en video's */

/* 9. Media defaults */

/* ------------------------------- 5. Layout ---------------------------------------- */
/* Regels of resets die te maken hebben met containergedrag en positioning */
/* Zet hier ook Basisregels voor grids (indien van toepassing).  */


/*.outer-wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.inner-content-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    gap: 1rem;*/
/*    padding: 0 1rem;*/
/*}*/

/*.flex-outer {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap: 2rem;*/
/*}*/

/*.flex-inner {*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    justify-content: space-between;*/
/*    gap: 1rem;*/
/*}*/

/*.flex-column {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 1rem;*/
/*}*/


/* ------------------------------- 6. Areas ----------------------------------------- */
/* Specifieke resetregels of basestijlen voor unieke secties zoals Header en Footer */
/* Vul zelf verder aan met structuurelementen van de site  */

img {
    width: 100%;
}

/* --------------- 6.1 Header ------------------------- */

.outer-header-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 1rem;
    min-height: 65vh;
    height: auto;
}

@media (max-width: 800px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 1rem;

        height: clamp(30vh, 45vh, 55vh); /* blijft staan */
    }

}

.inner-header-container {
    display: flex;
    flex-flow: row;
    justify-content: end;
    width: 100%;
    padding: 0 2rem; /* Ruimte aan de zijkanten voor kleinere schermen */

}

.navi ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.navi ul li a {
    color: var(--alt-color);
    text-decoration: none;
    font-weight: 300;
}

.title-container {
    margin-top: 3em;
    text-align: center;
    padding: 20px 0;
}

.title-container > h1 {
    padding: 1rem;
}

.title-container > p {
    font-size: 1.5rem;
    padding: 2rem;
}

#header {
    background: linear-gradient(172deg, var(--main-color) 0%, var(--main-color) 65%, var(--text2-color) 98%);
    position: relative;
    color: var(--alt-color);
}


#header::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Zorgt dat het pseudo-element over de main valt */
    left: 0;
    width: 100%;
    height: 4rem;
    background: var(--project-bgcolor);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 65%);
    z-index: 1;
}

.header-squiggle {
    position: absolute;
    /* Zorgen dat dit bovenop de clip-path-lijn zit */
    bottom: 32px;
    /* In elk geval max. 100% van de parent - zie hieronder */
    z-index: 2; /* boven #header::after */
}

.header-squiggle svg,
.header-squiggle img {
    display: block;
    width: 100%; /* of max-width: 100%; */
    height: 100%;
}


.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Zorgt dat de knop onder de tekst staat */
    margin-top: 1rem; /* Verhoogt de ruimte boven de hele wrapper */
}

.work-button, .form-button {
    position: relative;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: var(--button-bg-color);
    color: var(--alt-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    /* Voeg een subtiele standaard text-shadow toe */
    text-shadow: 0px 0px 1px var(--main-color-var);

    /* Transitie-instellingen */
    transition: all 0.07s ease-in-out;
}


.work-button:hover {
    color: white;
    border: 3px solid var(--button-bg-color);
    background: linear-gradient(18deg, var(--main-color-var) 0%, var(--main-color-var) 12%, var(--text2-color) 85%);
    background-size: 200% 200%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    /* Licht springen van knop */
    transform: scale(1.05);
}


/* --------------- 6.2 Hello (Intro text and Contactlink text) ------------------- */


.hello {
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    padding: 2rem;
}


.info-banner {
    text-align: center;
    font-family: var(--f2);
    font-weight: 700;
    color: var(--text2-color);
    margin-bottom: 1.5rem;
}

.info-banner h5 {
    margin: 0 0 1rem; /* Voegt ruimte toe tussen paragrafen */
    line-height: 1.5; /* Stelt de hoogte van de lijnen in */
    white-space: pre-wrap;
}

.contact-link {
    font-weight: 400;
    font-size: 1em
}

.contact-link > a {
    text-decoration: none;
    color: var(--text2-color);
}


/*main-content-wrapper {*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    max-width: clamp(320px, 80%, 1200px);*/
/*    justify-content: center;*/


/* --------------- 6.3 main-content ------------------- */

/* 6.3.1 Main Articles (Project Showcase) */

.projects-section {
    display: flex;
    flex-direction: column;

    background-color: var(--alt-color);
}

.projects-section {
    display: flex;
    flex-direction: column;
    row-gap: 3rem; /* Ruimte tussen projecten */
    background-color: var(--alt-color);
    padding: 10rem;
}

.project {
    display: flex;
    flex-flow: row-reverse wrap; /* Standaard layout: afbeelding en tekst naast elkaar */
    align-items: center;
    background-color: var(--alt-color);
    justify-content: space-evenly;

}

.project:nth-child(odd) {
    display: flex;

}

.project:nth-child(even) {
    flex-direction: row; /* Keert de volgorde om: afbeelding rechts */

}


.img-wrapper {
    flex-basis: 800px;

    flex-grow: 0;
    flex-shrink: 1;
    height: auto;

}

.project img {

    box-shadow: 0.1px 0.8px 0.7px -8px rgba(0, 0, 0, 0.025),
    0.3px 2.1px 1.7px -8px rgba(0, 0, 0, 0.035),
    0.7px 4.3px 3.4px -8px rgba(0, 0, 0, 0.045),
    1.5px 8.8px 6.9px -8px rgba(0, 0, 0, 0.055),
    4px 24px 19px -8px rgba(0, 0, 0, 0.08);

}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /*De content moet in de basis 480 breed zijn*/
    flex-basis: 300px;
    /*Als er meer ruimte is, mag hij NIET groter worden*/
    flex-grow: 0;
    /*Als er minder ruimte is, mag hij NIET kleiner worden*/
    flex-shrink: 0;
    margin: 0 2rem;
}

.project-content h3 {
    color: var(--text-color);
    font-size: 2em;

}

.project-content pre {

    font-size: 1.2em;
    font-weight: 500;
    color: var(--text-color);
    padding: 3em 0;

}

.projectview {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
}

.squiggle-wrapper {
    width: 4rem;
}

.squiggle-wrapper img {
    box-shadow: none;
    padding-top: 1em;
}

@media only screen and (max-width: 800px) {
    .project-content {
        padding-left: 0;
    }

}

/* 6.3.2 Main Info (Company Services) */

.services-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Zorgt ervoor dat items naar de volgende rij gaan */
    justify-content: center; /* Center alle blokken horizontaal */
    /*gap: 2rem; !* Ruimte tussen de blokken *!*/
    margin: 10em 16%;
    gap: 2rem;
}

.article-row {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.serviceblock {
    flex: 1 1 calc(100% / 3 - 2rem); /* 3 kolommen, ruimte aftrekken voor de gap */
    display: flex;
    flex-flow: column; /* Zorg dat tekst van boven begint */
    align-items: stretch; /* Hoogtes gelijk trekken */
    min-height: auto;
    padding: 2em 2em 0;
    border: 1px solid var(--text2-color);

}

.serviceblock .img-for-card {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em 0 2em;

}

.serviceblock img {
    width: 120px;
    height: 120px;
}

.serviceblock h3 {
    font-size: 1.4em;
    color: var(--text2-color);
    padding-bottom: 1em;
}

.serviceblock p {

    color: var(--text-color);
    line-height: 1.2;
    margin-bottom: 2em;
}

@media only screen and (max-width: 1678px) {
    .serviceblock {
        padding: 2em 1em 0;
    }

    .services-wrapper {
        margin: 14%;
    }
}

@media only screen and (max-width: 1678px) {
    .serviceblock {
        padding: 2em 1em 0;
    }

    .services-wrapper {
        margin: 14%;
    }
}

@media only screen and (max-width: 1400px) {
    .serviceblock {
        min-width: 720px; /* Optioneel: minimale hoogte instellen */

    }
}


@media only screen and (max-width: 1080px) {
    .serviceblock {
        min-width: 600px; /* Optioneel: minimale hoogte instellen */

    }

    .services-wrapper {
        margin: 12%;
    }
}

@media only screen and (max-width: 960px) {
    .serviceblock {
        min-width: 480px; /* Optioneel: minimale hoogte instellen */

    }

    .services-wrapper {
        margin: 10%;
    }
}

/* --------------- 6.4 Contact Form ------------------- */
/*    margin-top: 2rem;*/
/*}*/
/*#contact-form {*/
/*    display: flex;*/
/*}*/
.formarea {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    flex: 1 0 auto;
    width: 100%;
    padding-top: 3rem;
}

.form-title-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--alt-color)
}

/*.contactform {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: center;*/
/*}*/
.contactform {
    display: flex;
    list-style: none;
    flex-flow: column;
    align-items: center;
    margin-top: 2rem;
    color: var(--alt-color);
    font-size: 0.9em;

}

.form-outer-wrapper {

    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    gap: 1rem;
}

.form-outer-wrapper li {
    flex: 1 0 50px;
    max-width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.form-outer-wrapper > li > label {
    flex: 1 0 450px;
    align-self: flex-end;
}

.form-outer-wrapper > li > button {
    flex: 1 0 auto;
    height: 3rem;
    max-width: 150px;
}

.form-outer-wrapper > li > button {
    margin: 0.5rem 0 2rem;
}

.form-outer-wrapper > li > label + * {
    flex: 1 0 450px;
}

input,
textarea {
    padding: 1em;
}

input::placeholder,
textarea::placeholder {
    color: gray; /* Voorbeeldstijl voor de placeholder */
    font-family: var(--f1)

}

:focus::placeholder {
    opacity: 0; /* Of gebruik color: transparent; */
}

/* --------------- 6.5 Footer ------------------- */
footer {
    display: flex;
    align-self: end;
    background-color: var(--text-color);
    color: var(--alt-color);
    font-size: 12px;
    padding: 1em;
    justify-content: center;
}

/* --------------- 6.6 Extra ------------------- */
.extra-section {
    text-align: center;
    padding: 2rem;
    background: var(--tile-color);
}

